---
import DefaultLayout from "@/layouts/DefaultLayout.astro"
import FormattedDate from "@/components/FormattedDate.astro"

import { getCollection } from "astro:content"
import PageDescription from "@/components/PageDescription.astro"

const posts = (
  await getCollection("blog", ({ data }) => {
    // draft pages that are available when running the dev server, but not built in production
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<DefaultLayout>
  <PageDescription description="A space for storing insights" />
  <main class="mt-10 mb-20">
    <section>
      <ul class="space-y-4" data-animate data-animate-speed="slow">
        {
          posts.map((post) => (
            <li>
              <a
                href={`/blog/${post.slug}/`}
                class="flex justify-between hover:opacity-50"
              >
                <h4 class="title">{post.data.title}</h4>
                <p class="text-muted">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>
