---
import DefaultLayout from "@/layouts/DefaultLayout.astro"
import PageDescription from "@/components/PageDescription.astro"
---

<DefaultLayout>
  <PageDescription description="404 - Ops!" />
  <main class="mt-10 mb-20">
    <section class="flex items-center flex-col justify-center">
      <h4 class="text-5xl">404 – Page not found</h4>
      <span class="text-[5rem]">😅</span>
      <a href="/" class="underline hover:no-underline">Cd..</a>
    </section>
  </main>
</DefaultLayout>
