---
import { Image } from "astro:assets"
import BriccoLogo from "@/assets/bricco.svg"
import DigitalistLogo from "@/assets/digitalist.webp"
import DinboxLogo from "@/assets/dinbox.webp"
import PluckLogo from "@/assets/pluckmarket_logo.webp"
import RCOLogo from "@/assets/rco.svg"
import RiverLogo from "@/assets/river_cresco_logo.webp"
import StellarLogo from "@/assets/stellar.svg"
import SVTLogo from "@/assets/svt.svg"
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
import AppHeader from "@/components/app-header.astro"
import { ClientsCarousel } from "@/components/clients-carousel"
import HeroBranding from "@/components/hero-branding.astro"
import SocialLinkCard from "@/components/social-link-card.astro"
import { TestimonialCarousel } from "@/components/testimonial-carousel"
import DefaultLayout from "@/layouts/default-layout.astro"
---

<script is:inline>
  const updateTheme = () => {
    const wcb = document.getElementById("wcb")
    wcb?.classList.toggle(
      "wcb-d",
      document.documentElement.classList.contains("dark")
    )
  }

  const init = () => {
    if (document.getElementById("wcb")) {
      updateTheme()
      new MutationObserver(updateTheme).observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      })
    } else {
      setTimeout(init, 100)
    }
  }

  init()
</script>

<DefaultLayout>
  <AppHeader />

  <main class="mt-10 mb-20">
    <section class="max-w-5xl mx-auto space-y-4 px-4">
      <HeroBranding />
      <h1 class="text-2xl md:text-3xl font-bold leading-snug text-justify">
        Hi, I'm Mustafa a Senior Frontend Developer with over a decade of
        experience building fast, responsive, and reliable web interfaces. I
        have a solid foundation in frontend development, with a touch of design
        expertise and a keen eye for UX/UI to ensure every detail feels just
        right. When I'm not coding, I'm usually exploring the latest in web tech
        or enjoying time with family — but always ready for the next big
        challenge!
      </h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <SocialLinkCard
          href="https://www.linkedin.com/in/mustafa-alshammaa/"
          logo="https://cdn.brandfetch.io/idJFz6sAsl/w/48/h/48/theme/dark/icon.png?c=1bxid64Mup7aczewSAYMX&t=1748592533197"
          title="LinkedIn"
          username="mustafa-alshammaa"
        />
        <SocialLinkCard
          href="https://github.com/desiboli"
          logo="https://cdn.brandfetch.io/idZAyF9rlg/w/48/h/48/theme/dark/icon.png?c=1bxid64Mup7aczewSAYMX&t=1719469970995"
          title="GitHub"
          username="desiboli"
        />
      </div>
    </section>

    <section>
      <div class="max-w-5xl mx-auto space-y-4 px-4 mt-20 mb-4">
        <h1 class="text-2xl font-bold">Clients I've worked with</h1>
      </div>
      <div class="w-full mx-auto">
        <ClientsCarousel client:load />
      </div>
    </section>

    <section>
      <div class="max-w-5xl mx-auto space-y-4 px-4 mt-20 mb-4">
        <h1 class="text-2xl font-bold">Experience</h1>
      </div>
      <div class="max-w-5xl mx-auto space-y-4 px-4">
        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">Sveriges Television</h2>
            <h3 class="text-lg text-muted-foreground">
              Senior Frontend Developer Lead & UX/UI Designer
            </h3>
            <p>Full-time · 2024 - Present</p>
          </div>

          <SVTLogo class="size-20" />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">RCO Security</h2>
            <h3 class="text-lg text-muted-foreground">
              Senior Frontend Developer Lead & UX/UI Designer
            </h3>
            <p>Full-time · 2024</p>
          </div>

          <RCOLogo class="size-20 text-foreground" />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">Dinbox</h2>
            <h3 class="text-lg text-muted-foreground">
              Senior Frontend Developer Lead & UX/UI Designer
            </h3>
            <p>Full-time · 2023 - 2024</p>
          </div>

          <Image src={DinboxLogo} alt="Dinbox" width={80} height={80} />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">The Stellar Collective</h2>
            <h3 class="text-lg text-muted-foreground">
              Senior Frontend Developer Consultant
            </h3>
            <p>Full-time · 2023 - Present</p>
          </div>

          <StellarLogo class="size-20 text-foreground" />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">Pluck</h2>
            <h3 class="text-lg text-muted-foreground">Co-Founder</h3>
            <p>2018 - 2024</p>
          </div>

          <Image src={PluckLogo} alt="Pluck" width={80} height={80} />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">Digitalist Sweden</h2>
            <h3 class="text-lg text-muted-foreground">
              Frontend Developer Lead & Scrum Master
            </h3>
            <p>Full-time · 2017 - 2021</p>
          </div>

          <Image src={DigitalistLogo} alt="Digitalist" width={80} height={80} />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">Bricco</h2>
            <h3 class="text-lg text-muted-foreground">Fullstack Developer</h3>
            <p>Full-time · 2014 - 2017</p>
          </div>

          <BriccoLogo class="size-20 fill-foreground" />
        </div>

        <div class="flex items-center justify-between gap-4">
          <div class="flex flex-col">
            <h2 class="text-xl font-medium">River</h2>
            <h3 class="text-lg text-muted-foreground">Internship</h3>
            <p>Full-time · 2011 - 2012</p>
          </div>

          <Image src={RiverLogo} alt="River" width={80} height={80} />
        </div>
      </div>
    </section>

    <section>
      <div class="max-w-5xl mx-auto space-y-4 px-4 mt-20 mb-4">
        <h1 class="text-2xl font-bold">What people say about me</h1>
      </div>
      <div class="w-full mx-auto">
        <TestimonialCarousel client:load />
      </div>
    </section>
  </main>

  <footer class="my-20">
    <div class="max-w-5xl mx-auto px-4 space-y-4">
      <p class="text-center text-sm text-muted-foreground">
        &copy; {new Date().getFullYear()} Mustafa Alshammaa. All rights reserved.
      </p>
      <div id="wcb" class="carbonbadge"></div>
    </div>
  </footer>
</DefaultLayout>
