---
import { Image } from "astro:assets"
import BriccoLogo from "@/assets/bricco.svg"
import DigitalistLogo from "@/assets/digitalist.jpeg"
import DinboxLogo from "@/assets/dinbox.jpeg"
import PluckLogo from "@/assets/pluckmarket_logo.jpeg"
import RCOLogo from "@/assets/rco.svg"
import RiverLogo from "@/assets/river_cresco_logo.jpeg"
import StellarLogo from "@/assets/stellar.svg"
import SVTLogo from "@/assets/svt.svg"
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
import AboutIntro from "@/components/about-intro.astro"
import AppHeader from "@/components/app-header.astro"
import { ClientsCarousel } from "@/components/clients-carousel"
import HeroBranding from "@/components/hero-branding.astro"
import SocialLinkCard from "@/components/social-link-card.astro"
import { TestimonialCarousel } from "@/components/testimonial-carousel"
import DefaultLayout from "@/layouts/default-layout.astro"
---

<script is:inline>
  const updateTheme = () => {
    const wcb = document.getElementById("wcb")
    wcb?.classList.toggle(
      "wcb-d",
      document.documentElement.classList.contains("dark")
    )
  }

  const init = () => {
    if (document.getElementById("wcb")) {
      updateTheme()
      new MutationObserver(updateTheme).observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      })
    } else {
      setTimeout(init, 100)
    }
  }

  init()
</script>

<DefaultLayout>
  <AppHeader />
  <main class="mt-10 mb-20">
    <div class="max-w-5xl mx-auto space-y-4 px-4">
      <HeroBranding />
      <AboutIntro />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <SocialLinkCard
          href="https://www.linkedin.com/in/mustafa-alshammaa/"
          logo="https://cdn.brandfetch.io/idJFz6sAsl/w/400/h/400/theme/dark/icon.png?c=1bxid64Mup7aczewSAYMX&t=1748592533197"
          title="LinkedIn"
          username="mustafa-alshammaa"
        />
        <SocialLinkCard
          href="https://github.com/desiboli"
          logo="https://cdn.brandfetch.io/idZAyF9rlg/w/400/h/400/theme/dark/icon.png?c=1bxid64Mup7aczewSAYMX&t=1719469970995"
          title="GitHub"
          username="desiboli"
        />
        <SocialLinkCard
          href="https://app.daily.dev/desiboli"
          logo="https://cdn.brandfetch.io/idDVDWwMN7/w/256/h/256/theme/dark/icon.png?c=1bxid64Mup7aczewSAYMX&t=1757054862144"
          title="Daily.dev"
          username="desiboli"
        />
        <SocialLinkCard
          href="https://x.com/adamalshammaa"
          logo="https://cdn.brandfetch.io/idS5WhqBbM/w/400/h/400/theme/dark/icon.jpeg?c=1bxid64Mup7aczewSAYMX&t=1692089091886"
          title="X"
          username="adamalshammaa"
        />
      </div>
    </div>

    <div class="max-w-5xl mx-auto space-y-4 px-4 mt-20 mb-4">
      <h2 class="text-2xl font-bold">Clients I've worked with</h2>
    </div>
    <div class="w-full mx-auto">
      <ClientsCarousel client:load />
    </div>

    <div class="max-w-5xl mx-auto space-y-4 px-4 mt-20 mb-4">
      <h2 class="text-2xl font-bold">Experience</h2>
    </div>
    <div class="max-w-5xl mx-auto space-y-4 px-4">
      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">Sveriges Television</h4>
          <h6 class="text-lg text-muted-foreground">
            Senior Frontend Developer Lead & UX/UI Designer
          </h6>
          <p>Full-time · 2024 - Present</p>
        </div>

        <SVTLogo class="size-20" />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">RCO Security</h4>
          <h6 class="text-lg text-muted-foreground">
            Senior Frontend Developer Lead & UX/UI Designer
          </h6>
          <p>Full-time · 2024</p>
        </div>

        <RCOLogo class="size-20 text-foreground" />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">Dinbox</h4>
          <h6 class="text-lg text-muted-foreground">
            Senior Frontend Developer Lead & UX/UI Designer
          </h6>
          <p>Full-time · 2023 - 2024</p>
        </div>

        <Image src={DinboxLogo} alt="Dinbox" width={80} height={80} />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">The Stellar Collective</h4>
          <h6 class="text-lg text-muted-foreground">
            Senior Frontend Developer Consultant
          </h6>
          <p>Full-time · 2023 - Present</p>
        </div>

        <StellarLogo class="size-20 text-foreground" />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">Pluck</h4>
          <h6 class="text-lg text-muted-foreground">Co-Founder</h6>
          <p>2018 - 2024</p>
        </div>

        <Image src={PluckLogo} alt="Pluck" width={80} height={80} />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">Digitalist Sweden</h4>
          <h6 class="text-lg text-muted-foreground">
            Frontend Developer Lead & Scrum Master
          </h6>
          <p>Full-time · 2017 - 2021</p>
        </div>

        <Image src={DigitalistLogo} alt="Digitalist" width={80} height={80} />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">Bricco</h4>
          <h6 class="text-lg text-muted-foreground">Fullstack Developer</h6>
          <p>Full-time · 2014 - 2017</p>
        </div>

        <BriccoLogo class="size-20 fill-foreground" />
      </div>

      <div class="flex items-center justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="text-xl font-medium">River</h4>
          <h6 class="text-lg text-muted-foreground">Internship</h6>
          <p>Full-time · 2011 - 2012</p>
        </div>

        <Image src={RiverLogo} alt="River" width={80} height={80} />
      </div>
    </div>

    <div class="max-w-5xl mx-auto space-y-4 px-4 mt-20 mb-4">
      <h2 class="text-2xl font-bold">What people say about me</h2>
    </div>
    <div class="w-full mx-auto">
      <TestimonialCarousel client:load />
    </div>
  </main>
  <footer class="my-20">
    <div class="max-w-5xl mx-auto px-4 space-y-4">
      <p class="text-center text-sm text-muted-foreground">
        &copy; {new Date().getFullYear()} Mustafa Alshammaa. All rights reserved.
      </p>
      <div id="wcb" class="carbonbadge"></div>
    </div>
  </footer>
</DefaultLayout>
