---
import DefaultLayout from "@/layouts/DefaultLayout.astro"
import FormattedDate from "@/components/FormattedDate.astro"

import { getCollection } from "astro:content"
import PageDescription from "@/components/PageDescription.astro"
import ProjectPreview from "@/components/ProjectPreview.astro"

const posts = (
  await getCollection("blog", ({ data }) => {
    // draft pages that are available when running the dev server, but not built in production
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const projects = (
  await getCollection("projects", ({ data }) => {
    // draft pages that are available when running the dev server, but not built in production
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<DefaultLayout>
  <PageDescription
    description="I build high quality and impactful digital experiences."
  />
  <main class="mt-10 mb-20">
    <section>
      <p>
        Hi, I’m a Senior Frontend Developer with over a decade of experience
        building fast, responsive, and reliable web interfaces. I have a solid
        foundation in frontend development, with a touch of design expertise and
        a keen eye for UX/UI to ensure every detail feels just right. When I’m
        not coding, I’m usually exploring the latest in web tech or enjoying
        time with family — but always ready for the next big challenge!
      </p>
    </section>

    <section>
      <h3 class="font-semibold mb-4">Writing</h3>
      <ul class="space-y-4">
        {
          posts.map((post) => (
            <li>
              <a
                href={`/blog/${post.slug}/`}
                class="flex justify-between hover:opacity-55 text-base"
              >
                <h4 class="title">{post.data.title}</h4>
                <p class="text-muted">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section>
      <h3 class="font-semibold mb-4">Projects</h3>
      <ul class="space-y-4 grid grid-cols-2">
        {
          projects.map((project) => (
            <li>
              <ProjectPreview project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>
