---

---

<div class="lg:float-left mr-6 relative size-52 shrink-0">
  <img
    alt="Mustafa Alshammaa"
    src="/m.jpeg"
    class="rounded-lg object-cover w-full h-full"
  />
  <div
    class="pointer-events-none absolute inset-0 rounded-lg ring-2 ring-black/10 ring-inset dark:ring-white/10"
  >
  </div>
</div>

<h1 class="text-xl md:text-3xl font-bold leading-snug lg:text-justify">
  Hi, I'm Mustafa a Senior Frontend Developer with over a decade of experience
  building fast, responsive, and reliable web interfaces. I have a solid
  foundation in frontend development, with a touch of design expertise and a
  keen eye for UX/UI to ensure every detail feels just right. When I'm not
  coding, I'm usually exploring the latest in web tech or enjoying time with
  family — but always ready for the next big challenge!
</h1>
