---
import {
  LinkedInLogoIcon,
  FileTextIcon,
  GitHubLogoIcon,
  TwitterLogoIcon,
} from "@radix-ui/react-icons"
import { ModeToggle } from "@/components/ModeToggle"

const today = new Date()
---

<footer
  class="flex flex-col gap-20 text-sm"
  data-animate
  data-animate-speed="slow"
>
  <div class="flex justify-between items-center">
    <div class="flex gap-2">
      <a
        href="https://www.linkedin.com/in/mustafa-alshammaa/"
        target="_blank"
        class="flex items-center gap-1 hover:opacity-55"
      >
        <span class="sr-only">Follow me on Linkedin</span>
        <LinkedInLogoIcon />
        <span>Linkedin</span>
      </a>
      <a
        href="https://heather-oak-e88.notion.site/Curriculum-Vitae-050001a582e74e87ac59616cb6769d80?pvs=4"
        target="_blank"
        class="flex items-center gap-1 hover:opacity-55"
      >
        <span class="sr-only">Read my CV</span>
        <FileTextIcon />
        <span>Resume</span>
      </a>
      <a
        href="https://github.com/desiboli"
        target="_blank"
        class="flex items-center gap-1 hover:opacity-55"
      >
        <span class="sr-only">Follow me on Github</span>
        <GitHubLogoIcon />
        <span>Github</span>
      </a>
      <a
        href="https://x.com/AdamAlshammaa"
        target="_blank"
        class="flex items-center gap-1 hover:opacity-55"
      >
        <span class="sr-only">Connect with me on Twitter/X</span>
        <TwitterLogoIcon />
        <span>Twitter</span>
      </a>
    </div>
    <ModeToggle client:only="react" />
  </div>
  <span class="text-center text-muted"
    >&copy; {today.getFullYear()} Mustafa Alshammaa. All rights reserved.</span
  >
</footer>
