---
import DefaultLayout from "@/layouts/DefaultLayout.astro"

import { getCollection } from "astro:content"
import PageDescription from "@/components/PageDescription.astro"
import ProjectPreview from "@/components/ProjectPreview.astro"

const projects = (
  await getCollection("projects", ({ data }) => {
    // draft pages that are available when running the dev server, but not built in production
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<DefaultLayout>
  <PageDescription
    description="A space for projects I've built, big and small"
  />
  <main class="mt-10 mb-20">
    <section>
      <ul class="space-y-4 grid grid-cols-2">
        {
          projects.map((project) => (
            <li>
              <ProjectPreview project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>
